In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
dataset = pd.read_csv('ex2data2.txt', sep = ',')

In [12]:
dataset.head()

         x1       x2  y
0 -0.092742  0.68494  1
1 -0.213710  0.69225  1
2 -0.375000  0.50219  1
3 -0.513250  0.46564  1
4 -0.524770  0.20980  1

In [11]:
dataset.columns = ['x1','x2','y']